.movie-detail{
    margin: auto;
    margin-top: 5em;
    width: 70%;
    h1{
        text-align: center;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    img{
        float: left;
        width: 200px;
        margin: 15px;
    }
}